<div class="container">
    <h2>Upload de Arquivo CNAB</h2>
    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="uploadFile()">Enviar</button>

    <h2>Transações</h2>
    <table *ngIf="transacoes.length > 0">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Data</th>
                <th>Valor</th>
                <th>CPF</th>
                <th>Cartão</th>
                <th>Hora</th>
                <th>Dono Loja</th>
                <th>Nome Loja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transacao of transacoes">
                <td>{{ transacao.tipo }}</td>
                <td>{{ transacao.data }}</td>
                <td>{{ transacao.valor | currency:'BRL' }}</td>
                <td>{{ transacao.cpf }}</td>
                <td>{{ transacao.cartao }}</td>
                <td>{{ transacao.hora }}</td>
                <td>{{ transacao.donoLoja }}</td>
                <td>{{ transacao.nomeLoja }}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="transacoes.length === 0">Nenhuma transação encontrada.</p>
</div>